alabaster==1.0.0
babel==2.18.0
beautifulsoup4==4.15.0
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cssselect2==0.9.0
docutils==0.22.4
fonttools==4.63.0
idna==3.18
imagesize==2.0.0
Jinja2==3.1.6
libsass==0.23.0
MarkupSafe==3.0.3
packaging==26.2
pillow==12.2.0
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
pyphen==0.17.2
requests==2.34.2
roman-numerals==4.1.0
setuptools==82.0.1
snowballstemmer==3.1.1
soupsieve==2.8.4
Sphinx==9.1.0
sphinx-simplepdf==1.7.0
sphinx-togglebutton==0.4.5
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing_extensions==4.15.0
urllib3==2.7.0
weasyprint==69.0
webencodings==0.5.1
wheel==0.47.0
zopfli==0.4.3
